:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --text-purple: #2b3467;
  --text-purple-dark: rgb(52, 47, 151);
  --text-black: rgba(17, 24, 39, 1);
  --text-white-100: rgba(229, 231, 235, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: url("../public/static/mesh-gradient.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #373b64;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 5rem;
}

p {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  font-weight: 600;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* glass-morphism */
.glass {
  background: hsla(0, 0%, 100%, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.glass:hover {
  background: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #fff;
}
